/* Reset all padding and margin */
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the body covers the full viewport and eliminates whitespace */
html, body {
    height: 100%;
    width: 100%;
}

/* Remove default styles and spacing from the body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6ecfd;
}

nav {
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 1000; /* Assurez-vous qu'elle est toujours au-dessus */
}

nav .logo-container img {
    max-height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Hover Effect: Change Text Color */
nav ul li a:hover {
    color: #eac7fc; /* Change text color on hover */
}

.menu {
    position: relative;
    font-size: 18px; color: #ffffff;
    text-align: center;
    background-color: #5e464d;
    margin: 20px auto; /* Centrer horizontalement */
    border-radius: 0px;
    margin-top: 80px; /* Laissez de l'espace sous la navbar */
    width: 100%; /* Largeur ajustée */
}

.container1{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.text1 {
    margin-top: 0px;
    text-align: justify;
    margin-right: 20px;
}

.text2 {
    margin-top: 15px;
    text-align: justify;
    margin-left: 20px;
    width: 800px; 
    height: 300px; 
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.image1{
    width: 600px;        
    border: 1px solid black;
}

.image2{
    margin-top: 30px;
    width: 800px; 
    height: 400px;       
    border: 1px solid black;
} 

.container2{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
